<?php

$vendorDir = __DIR__.'/../vendor';
require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'          => $vendorDir.'/symfony/src',
    'Doctrine\\Common' => $vendorDir.'/doctrine-common/lib',
));
$loader->register();

spl_autoload_register(function($class) {
    $class = ltrim($class, '\\');
    if (0 === strpos($class, 'Parizz\CacheBundle\\')) {
        $file = __DIR__.'/../'.str_replace('\\', '/', substr($class, strlen('Parizz\CacheBundle\\'))).'.php';
        if (file_exists($file)) {
            require $file;
        }
    }
});